body{
    display: flex;
}
.box0{
    background-color: aqua;
    border: 1px solid black;
    width: 100px;
    height: 200px;
    position: absolute;
    margin:10px 10px;
}
.box1{
    background-color: aqua;
    border: 1px solid black;
    width: 100px;
    height: 200px;
}
.box1:hover{
    position: absolute;
}