body{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
#GameBox{
    margin-top: 15dvh;
    width: 500px;
    height: 500px;
    border: 2px solid black;
}
#gamePlay{
    background-color: blanchedalmond;
}